{
    "presets": [
        ["env", 
            {
              "targets": {
                "browsers": ["last 2 versions", "not ie <= 8"],
                "node": "current"
              }
            }
        ]
    ],
    "plugins": [
        "transform-runtime"
    ]
}